<h1 class="my-4">Categories</h1>
    <div class="row" ng-controller="CategoriesController">
        <div class="col-lg-4 mb-4" ng-repeat="category in categories">
        	<div class="grid">
			<figure class="effect-marley">
				<img ng-src="images/{{category.img}}.jpg" alt="img01"/>
				<figcaption>
					<h2 style="top:60%;text-align:center">{{category.name}}</h2>
					<!-- <p>{{category.description}}</p> -->
					<a href="#!/articles/category/{{category.name}}">View more</a>
				</figcaption>			
			</figure>
			</div>
		</div>
	</div>
    



